$themes:(
 "prioridades": (
    body-bg: #C6102E,
    circle: #C6102E,
    reveal: #C6102E,
    dot: #0011ff,
    slide-1-bg: #C6102E,
    slide-2-bg: #C6102E,
    slide-3-bg: #121414,
    slide-4-bg: #C6102E,
    slide-5-bg: #F4F4F9,
    service-h4: #00ffd5,
    bar-inner: #64e1ce
  ),
  "smc": (
    body-bg: #212f21,
    circle: #d16233,
    reveal: #d16233,
    dot: #d16233,
    slide-1-bg: #212f21,
    slide-2-bg: #212f21,
    slide-3-bg: #121414,
    slide-4-bg: #212f21,
    slide-5-bg: #F4F4F9,
    service-h4: #d16233,
    bar-inner: #64e1ce
  ),
  "ce": (
    body-bg: #1d1c1c,
    circle: #157515,
    reveal: #157515,
    dot: #157515,
    slide-1-bg: #1d1c1c,
    slide-2-bg: #1d1c1c,
    slide-3-bg: #121414,
    slide-4-bg: #1d1c1c,
    slide-5-bg: #F4F4F9,
    service-h4: #157515,
    bar-inner: #64e1ce
  ),
  "sApp": (
    body-bg: #576ec2,
    circle: #6887bd,
    reveal: #576ec2,
    dot: #0011ff,
    slide-1-bg: #576ec2,
    slide-2-bg: #576ec2,
    slide-3-bg: #202938,
    slide-4-bg: #576ec2,
    slide-5-bg: #F4F4F9,
    service-h4: #00ffd5,
    bar-inner: #64e1ce
  )
);
