@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap");
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  width: 100%;
  height: 85px;
  padding: 5px 10px;
}
header .logo {
  cursor: pointer;
  order: 3;
  margin-left: auto;
  margin-right: 30px;
}
header .logo img {
  height: 60px;
  width: auto;
  transition: all 0.3s;
}
header .logo .imagen:hover {
  transform: scale(1.2);
}
header .logo .imagen.active {
  filter: invert(100%);
}
header nav {
  display: contents;
  width: 100%;
  height: 100%;
}
header nav:hover {
  background-color: #000;
  color: white;
}
header nav .links {
  list-style: none;
}
header nav .links.active li a {
  color: white;
}
header nav .links.active li:hover {
  color: #000;
  background-color: white;
}
header nav .links.active li:hover a {
  color: #000;
}
header nav .links li {
  display: inline-block;
  margin-left: 20px;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
header nav .links li:hover {
  transform: scale(1.1);
  background-color: black;
  color: #FEFAF6;
}
header nav .links li:hover a {
  color: white;
}
header nav .links li a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 700;
  color: #000;
  text-decoration: none;
}
header nav .links li a:nth-child(1) {
  margin: 0;
}
header .container {
  order: 3;
}
header .container .outerBox {
  margin-left: 30px;
  background-color: #FEFAF6;
  width: 80px;
  height: 40px;
  box-shadow: inset 4px 4px 6px #cecece, inset -4px -4px 6px #fff;
  border-radius: 25px;
  cursor: pointer;
}
header .container .outerBox .toggle {
  padding: 10px;
  width: 40px;
  height: 40px;
  transform: scale(0.7);
  background-color: linear-gradient(145deg, #d8d8d8, #fff);
  border-radius: 25px;
  box-shadow: 3px 3px 8px #c4c4c4, -3px -3px 8px #fff;
  transition: left 0.3s, background-color 0.3s, box-shadow 0.3s;
}
header .container .outerBox .toggle img {
  transition: opacity 0.3s;
}
header .container.active .toggle {
  position: relative;
  left: 40px;
}
header.hd.scrolled {
  background-color: #000000;
}
header.hd.scrolled nav li a {
  color: white;
}
header.hd.scrolled .imagen {
  filter: invert(100%);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

main .bio .info::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: conic-gradient(transparent, transparent, transparent, #19FAF4);
  animation: animate 5s linear infinite;
}

body {
  background-color: #FEFAF6;
  overflow-x: hidden;
}

body.active {
  background-color: #000;
}
body.active .mp .h1 {
  color: white;
}

main .mp {
  width: 100%;
}
main .mp h1 {
  font-family: "Lato", sans-serif;
  font-size: 100px;
}
main .mp .enoc {
  padding-top: 300px;
  padding-left: 200px;
  width: 50%;
}
main .mp .enoc.active h1 {
  color: white;
}
main .mp .scrollDown {
  width: 25px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 20px;
  display: flex;
  margin: auto;
}
main .mp .scrollDown .mouseWheel {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  margin: auto;
  animation: moveWheel 1s linear infinite;
}
main .mp .animacion {
  position: absolute;
  top: 0px;
  z-index: -1;
  margin-top: 0;
}
main .svgContainer {
  position: absolute;
  top: 0; /* anchor it to the top */
  left: 0;
  width: 100%;
  height: 100%; /* fill the container height if needed */
  display: flex; /* optional: allows control of alignment */
  align-items: flex-start;
  z-index: -1;
  pointer-events: none;
}
main .bio {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  margin-top: 23%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .bio .info {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  width: 70%;
  text-align: left;
  border-radius: 15px;
  height: 60%;
  position: relative;
  padding: 80px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
main .bio .info:hover {
  scale: 1.02;
}
main .bio .info span {
  position: absolute;
  inset: 5px;
  border-radius: 16px;
  background: linear-gradient(135deg, #1c1c1c, #2a2a2a);
  padding: 80px 80px;
}
main .bio .info span h1 {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}
main .bio .info span h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  color: rgb(210, 208, 208);
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
main .bio .info.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
@media (prefers-reduced-motion) {
  main .bio .info.hidden {
    transition: none;
  }
}
main .bio .info.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
main .nProjects .title {
  font-size: 10vh;
  padding-left: 5%;
}
main .nProjects .pRow {
  display: flex;
  width: 100%;
  height: 65vh;
  justify-content: center;
  gap: 2rem;
}
main .nProjects .pRow .pCard {
  width: 45%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
main .nProjects .pRow .pCard:hover .movementText h1 {
  transform: translateX(1.5em);
}
main .nProjects .pRow .pCard:hover .movementText .arrowIcon {
  display: inline-block;
  opacity: 1;
  transform: translateX(1.5em);
}
main .nProjects .pRow .pCard .pCardImg {
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform: scale(0.5);
  border-radius: 20px;
  overflow: hidden;
}
main .nProjects .pRow .pCard .pCardImg .card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: fit;
     object-fit: fit;
  transition: filter 0.3s ease;
  will-change: transform, filter;
  pointer-events: none;
}
main .nProjects .pRow .pCard .pCardImg.hidden {
  transform: scale(0.8);
  transition: transform 0.6s ease;
  /* Optional: to ensure overflow works */
  overflow: hidden;
}
main .nProjects .pRow .pCard .pCardImg.show {
  transform: scale(1);
}
main .nProjects .pRow .pCard .pCardtext {
  width: 100%;
  height: 15vh;
  padding-top: 1em;
}
main .nProjects .pRow .pCard .pCardtext .decode-text {
  display: inline-block; /* or inline */
}
main .nProjects .pRow .pCard .pCardtext .movementText {
  width: 100%;
  margin-top: 0.1em;
  display: inline-flex;
  gap: 0.5em;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}
main .nProjects .pRow .pCard .pCardtext .movementText h1 {
  color: #1c1c1c;
  font-size: 2rem;
  transition: transform 1s ease;
}
main .nProjects .pRow .pCard .pCardtext .movementText .arrowIcon {
  position: absolute;
  color: #1c1c1c;
  font-size: 2.2rem;
  transition: transform 1s ease, opacity 0.5s ease 0.6s;
  left: -1.5em;
  pointer-events: none;
  padding-top: 3px;
}
main .skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
}
main .skills .skillbox {
  padding: 1rem;
  color: white;
  cursor: pointer;
  background: linear-gradient(135deg, #1c1c1c, #2a2a2a);
  border-radius: 15px;
}
main .skills .skillbox:nth-child(2), main .skills .skillbox:nth-child(6), main .skills .skillbox:nth-child(10) {
  transition-delay: 200ms;
}
main .skills .skillbox:nth-child(3), main .skills .skillbox:nth-child(7), main .skills .skillbox:nth-child(11) {
  transition-delay: 400ms;
}
main .skills .skillbox:nth-child(4), main .skills .skillbox:nth-child(8) {
  transition-delay: 600ms;
}
main .skills .skillbox:hover > .skilltitle::after, main .skills .skillbox:hover > .skilltitle::before {
  width: 35px;
}
main .skills .skillbox:hover .skillimg {
  transform: translateY(-10px);
}
main .skills .skillbox .skilltitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}
main .skills .skillbox .skilltitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #19FAF4;
  transition: 0.5s;
}
main .skills .skillbox .skilltitle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0;
  background-color: #19FAF4;
}
main .skills .skillbox .skilltitle h3 {
  color: white;
  margin: 0.5rem;
}
main .skills .skillbox .skilltitle .skillimg {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
main .skills .skillbox .skilltitle .skillimg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
}
main .skills .skillbox .skilltitle .skillimg img {
  width: 60px;
  z-index: 2;
}
main .skills .skillbox.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
@media (prefers-reduced-motion) {
  main .skills .skillbox.hidden {
    transition: none;
  }
}
main .skills .skillbox.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
main .contactForm {
  width: 720px;
  background: linear-gradient(135deg, #1c1c1c, #2a2a2a);
  border-radius: 15px;
  color: white;
  margin: 40px auto;
}
main .contactForm .formHeader {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 2px solid #bfbfbf;
}
main .contactForm form {
  margin: 35px 30px;
}
main .contactForm form .formFields .field {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  position: relative;
}
main .contactForm form .formFields .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
}
main .contactForm form .formFields .field input::-moz-placeholder {
  color: gray;
}
main .contactForm form .formFields .field input::placeholder {
  color: gray;
}
main .contactForm form .formFields .field input:focus {
  border: 2px solid blue;
}
main .contactForm form .formFields .field input:focus ~ i {
  color: blue;
}
main .contactForm form .formFields .field textarea {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
}
main .contactForm form .formFields .field textarea::-moz-placeholder {
  color: gray;
}
main .contactForm form .formFields .field textarea::placeholder {
  color: gray;
}
main .contactForm form .formFields .field textarea:focus {
  border: 2px solid blue;
}
main .contactForm form .formFields .field i {
  position: absolute;
  left: 18px;
  top: 50%;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  color: gray;
}
main .contactForm form .formFields .message {
  position: relative;
  width: 100%;
}
main .contactForm form .formFields .message i {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 17px;
  color: gray;
}
main .contactForm form .formFields .message textarea {
  min-height: 120px;
  max-height: 300px;
  min-width: 100%;
  max-height: 100%;
  padding: 15px 20px 0 48px;
}
main .contactForm form .formFields .buttondiv {
  margin: 25px 0;
  display: flex;
  align-items: center;
}
main .contactForm form .formFields .buttondiv button {
  font-size: 18px;
  border: none;
  background: blue;
  border: none;
  padding: 13px 25px;
  color: white;
  margin-bottom: 20px;
}
main .contactForm form .formFields .buttondiv span {
  display: none;
  color: blue;
  margin-left: 30px;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.circles {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  z-index: -1;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
.circles.active {
  background-color: white;
}

.game {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.game #board {
  background-image: url("./img/bg.png");
}

#google_translate_element select {
  margin-top: 150px;
  background-color: #f8f9fa;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.goog-te-banner-frame {
  display: none !important;
}

@keyframes moveWheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slotInOut {
  0% {
    transform: translateY(-120%);
    opacity: 0;
  }
  10% {
    transform: translateY(0%);
    opacity: 1;
  }
  50% {
    transform: translateY(120%);
    opacity: 0;
  }
  60% {
    transform: translateY(-120%);
    opacity: 0;
  }
  70% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.slot-enter {
  animation: slotInOut 0.6s ease-in-out;
}

.animated-title:nth-child(1) {
  animation-delay: 0s;
}

.animated-title:nth-child(2) {
  animation-delay: 0s;
}

.animated-title:nth-child(3) {
  animation-delay: 0s;
}

/* 📌 Laptops & Desktops (Default) - You already have this */
@media screen and (min-width: 1800px) {
  .scrollDown {
    margin-top: 15%;
    width: 50px;
    height: 100px;
    border-radius: 40px;
  }
}
/* 📱 Large Tablets & Small Laptops (Max 1024px) */
@media screen and (max-width: 1024px) {
  .hamburger {
    display: none;
  }
  .skills {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 30px;
  }
  nav ul {
    flex-direction: column;
    text-align: center;
  }
}
/* 📱 Tablets & Large Mobiles (Max 768px) */
@media screen and (max-width: 768px) {
  main {
    width: 820px;
  }
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .menu {
    display: block; /* Show hamburger menu */
  }
  .hamburger {
    order: 1;
    display: block;
    font-size: 40px;
  }
  header .logo {
    order: 2;
    flex-grow: 1;
    text-align: center;
    margin-right: 0px;
  }
  .container .outerBox {
    margin-left: 0;
  }
  .container {
    order: 3;
  }
  .links {
    display: none;
  }
  .desktop-menu {
    display: none; /* Hide desktop menu */
  }
  .mp {
    width: 100%;
  }
  .enoc {
    width: 95%;
    padding-left: 0;
  }
  .enoc h1 {
    width: 100%;
    font-size: 80px;
    text-align: center;
  }
}
/* 📱 Medium & Small Mobiles (Max 600px) */
@media screen and (max-width: 600px) {
  .contactForm .formHeader {
    text-align: center;
  }
  form .formFields {
    flex-direction: column;
    margin-bottom: 0;
  }
  form .field {
    width: 100%;
    margin-bottom: 20px;
  }
  .buttondiv {
    flex-direction: column;
  }
  .buttondiv button {
    width: 100%;
  }
  .buttondiv span {
    text-align: center;
    margin: 20px 0;
  }
  form .message textarea {
    resize: none;
  }
}
/* 📱 Extra Small Mobiles (Max 480px) */
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
    padding: 10px;
  }
  h1 {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */