
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #FEFAF6;
}

.game{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    background-image: url("./img/bg.png");
}

header{
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    z-index: 100;
    width: 100%;
    height: 85px;
    padding: 5px 10px;
}
.hd.scrolled{
    background-color: #000000;
}
.hd.scrolled nav li{
    color: white;
}

.hd.scrolled .imagen{
    filter: invert(100%);
}
header .logo{
    cursor: pointer;
    order: 3;
    margin-left: auto;
    margin-right: 30px;
}
header .logo img{
    height: 60px;
    width: auto;
    transition:all 0.3s;
}
.imagen:hover{
    transform: scale(1.2);
}
nav{  
    display: contents;
    width: 100%;
    height: 100%;
}

.links{
    list-style: none;
}




.links li{
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 700;
    color: #000;
    text-decoration: none;
    margin-left: 20px;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .links li a:nth-child(1){
    margin: 0;
}

nav:hover{
    background-color: #000;
    color: white;
}

navLi:hover{
   transform: scale(1.1);
   background-color: black;
   color: #FEFAF6;
}


.links a:hover{
    color: white;

}

.container .outerBox{
    margin-left: 30px;
    background-color: #FEFAF6;
    width: 80px;
    height: 40px;
    box-shadow: inset 4px 4px 6px #cecece,
                inset -4px -4px 6px #fff;
    border-radius: 25px;
    cursor: pointer;
}

.toggle{
    padding: 10px;
    width: 40px;
    height: 40px;
    transform: scale(.7);
    background-color: linear-gradient(145deg,#d8d8d8,#fff);
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8px #fff;
    transition: left 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.toggle img {
    transition: opacity 0.3s; 
}



.container.active .toggle{
    position:relative;
    left: 40px;
}

body.active{
    background-color: #000;
}

body.active .mp .h1{
    color: white;
}

.links.active li{
    color: white;
}

.links.active li:hover{
    color: #000;
    background-color: white;
}

.imagen.active {
    filter: invert(100%);
}
.enoc.active h1{
    color: white;
}


.mp h1{
    font-family: 'Lato', sans-serif;
    font-size: 100px;
}
.enoc{
    padding-top: 300px;
    padding-left: 200px;
    width: 50%;
}


.animacion {
    position: absolute;
    top: 0px;
    z-index: -1;
    margin-top: 0;
}


.bio{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    margin-top: 23%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.info{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    width: 70%;
    text-align:left;
    border-radius: 15px;
    height: 60%;
    position: relative;
    padding: 80px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
    overflow:hidden;
}
.info::before,.menuProjects::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: conic-gradient(transparent,transparent,transparent, #19FAF4);
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
    
    
}
.info span, .menuProjects span{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background-color: rgb(6, 6, 6);
    padding: 80px 80px;
}
.bio span h1{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}
.bio span h2{
    margin-top: 60px;
    color: rgb(210, 208, 208);
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}
.info:hover{
    scale: 1.02;
}
#pc{
   height: 60vh; 
}

.hidden{
    opacity: 0;
    transition: all 1s;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.infoProjects, .menuProjects{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    width: 70%;
    text-align:left;
    border-radius: 15px;
    height: 60%;
    position: relative;
    padding: 80px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
    overflow:hidden;
}


.projects{
    margin-bottom: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.infoProjects{
    background-color: rgb(6, 6, 6);
    z-index: 1;
    overflow: hidden;
    width: 50%;
    position: relative;
}

.infoProjects,.menuProjects{
    
    height: 60vh;
    
}
.menuProjects{
    width: 25%;
    margin-left: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.menuProjects ul{
    list-style: none;
    justify-content: left;
}
.menuProjects *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
}

.menuProjects li{
    margin:25px 0;
}
.menuProjects h1{
    font-size: 2rem;
    margin-bottom: 40px;
    margin: 20px auto 40px auto;
}
.menuProjects li:hover{
    transform: scale(1.1);
}

.menuProjects a{
    font-size: 1.3rem;
    position: relative;
    color: rgb(205,207,205,205);
    text-decoration: none;
    padding:0.5rem 0.8rem;
}

.menuProjects a::before,
.menuProjects a::after{
    position: absolute;
    height: 15px;
    width: 15px;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
}

.menuProjects a::before{
    right: 0;
    top: 0;
    border-right: 3px solid #19FAF4;
    border-top: 3px solid #19FAF4;
    -webkit-transform: translate(-100%,50%);
    transform: translate(-100%,50%);
}

.menuProjects a::after{
    left: 0;
    bottom: 0;
    border-left: 3px solid #19FAF4;
    border-bottom: 3px solid #19FAF4;
    -webkit-transform: translate(-100%,50%);
    transform: translate(-100%,50%);
}

.menuProjects a:hover{
    color: #ffffff;
    
}

.menuProjects a:hover::before, .menuProjects a:hover::after{
    -webkit-transform: translate(0%,0%);
    transform: translate(0%,0%);
    opacity: 1;
}

.infoProjects{
    color: #fff;
    text-align: left;
    display: flex;
    align-items:start;
    padding: 0;
}
.infoProjects h1{
    font-size: 2rem;
    margin-bottom: 5%;
}
.infoProjects p{
    margin-bottom: 20px;
}
.pong,.pongimg,.weather,.weatherimg,.gerizim,.gerizimimg,.chatbot,.skullimg{
    width: 100%;
    height: 100%;
    padding: 80px 50px;
    backface-visibility: hidden;
}
.pong, .weather{
    position: relative;
    
    
}
.pongimg{
    background-image: url(img/SMC.jpg) ;
    background-size:contain;
    background-position:center ;
    background-repeat: no-repeat; 
    
}
.pongimg,.weatherimg,.gerizimimg,.skullimg{
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.weatherimg{
    background-image: url(img/chessEngine.jpg) ;
    background-size:contain;
    background-position:center ;
    background-repeat: no-repeat; 
}
.skullimg{
    background-image: url(img/sc.jpg) ;
    background-size:contain;
    background-position:center ;
    background-repeat: no-repeat; 
}
.gerizimimg{
    background-image: url(img/flappyBird.jpg) ;
    background-size:contain;
    background-position:bottom ;
    background-repeat: no-repeat;
}
.gerizimCard,.pongCard,.skullCard,.weatherCard{
    display: none;
}
.gerizim img,.chatbot img{
    margin-top: 10%;
    margin-left: 15%;
}

.pongCard,.weatherCard,.gerizimCard, .skullCard{
    height: 100%;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    
}
.imgs{
    position: absolute;
    bottom: 10%;
    margin-left: 5%;
    width: 60%;
    display: flex;
    justify-content: space-around;
}



.arrow{
    width: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    right: 40px;
    margin: 6px;
    animation: move 1.1s infinite ease-in-out ;
}
.arrow:nth-of-type(1){
    top: 0;
    transform: rotate(-45deg);
}
.arrow:nth-of-type(2){
    
    transform:rotate(45deg)
}

@keyframes move{
    0%{margin-right:0;}
    50%{margin-right:5%;}
    100%{margin-right:0;}
}
.arrowB{
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: 20px;
    right: 0;
    display: flex;
    justify-content: center;
}
.arrowB button{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
    padding-bottom: 35px;
    border: none;
}
.flip{
    transform: rotateY(180deg);
}

.visible{
    display:block;
}

.skills{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    grid-gap:1rem;
    padding: 1rem 80px;
}
.skillbox{
    padding:1rem;
    color: white;
    cursor: pointer;
    background-color: rgb(6, 6, 6);
    border-radius: 15px;
}
.skillbox:nth-child(2),.skillbox:nth-child(6),.skillbox:nth-child(10){
    transition-delay: 200ms;
}
.skillbox:nth-child(3),.skillbox:nth-child(7),.skillbox:nth-child(11){
    transition-delay: 400ms;
}
.skillbox:nth-child(4),.skillbox:nth-child(8){
    transition-delay: 600ms;
}
.skillbox:hover > .skilltitle:after, .skillbox:hover > .skilltitle:before{
    width: 35px;
}

.skillbox:hover .skillimg{
    transform: translateY(-10px);
}

.skilltitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.skilltitle:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #19FAF4;
    transition: .5s;
}
.skilltitle:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius:0 ;
    background-color: #19FAF4;
}

.skillimg{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.skillimg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background-color: rgba(100,100,100,0.5);
    border-radius: 45px 0 0 45px;
}
.skillimg img{
    width: 60px;
    z-index: 2;
}


.skilltitle h3{
    color: white;
    margin: 0.5rem;
}


.circles{
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    z-index: -1;
    bottom: 0;
    right: 0;
    pointer-events: none;
}



.circles.active{
    background-color: white;
}

.contactForm{
    width: 720px;
    background-color: rgb(6, 6, 6);
    border-radius: 15px;
    color: white;
    margin: 40px auto;
}

.contactForm .formHeader{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 2px solid #bfbfbf;
}

.contactForm form{
    margin:  35px 30px;

}

form .field{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
}

.formFields .field{
    height: 50px;
    width: 100%;
    position: relative;
}

form .field input, form .field textarea{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}

form .field input::placeholder, form .field textarea::placeholder{
    color: gray;
}
form .field input:focus, form .field textarea:focus{
    border: 2px solid blue;
}
form .field input:focus ~ i{
    color: blue;
}
.contactForm .field i{
    position: absolute;
    left: 18px;
    top: 50%;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    color:gray;
}

form .message{
    position: relative;
    width: 100%;
}
form .message i{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 22px;
    color: #000000;
}
form .message textarea{
    min-height: 120px;
    max-height: 300px;
    min-width: 100%;
    max-height: 100%;
    padding: 15px 20px 0 48px;
}
.buttondiv{
    margin:25px 0;
    display: flex;
    align-items: center;
}

.buttondiv button{
    font-size: 18px;
    border: none;
    background: blue;
    border: none;
    padding: 13px 25px;
    color: white;
    margin-bottom: 20px;
}
.buttondiv span{
    display: none;
    color: blue;
    margin-left: 30px;
}

@media(max-width: 600px){
    .contactForm .formHeader{
        text-align: center;
    }

    form .formFields{
        flex-direction: column;
        margin-bottom: 0;
    }
    form .field{
        width: 100%;
        margin-bottom: 20px;
    }
    .buttondiv{
        flex-direction: column;
    }
    .buttondiv button{
        width: 100%;
    }
    .buttondiv span{
        text-align: center;
        margin: 20px 0;
        
    }
    form .message textarea{
        resize: none;
    }
}


@media screen and (max-width:990px){
    .skills{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px;
    }
}
@media screen and (max-width: 650px){
    .skills{
        grid-template-columns: 1fr;
    }
}